.page-footer{
    margin-top: 25px;
   
}
.container-fluid{
    background-color: mediumturquoise;
}
.footer-copyright{
    background-color: teal;
    color:mediumturquoise ;
}
.hpb{
    color: white;
}