
<link href="//use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">

<div class="container">
    <h5 class="text-center">LOCAL CASES</h5><br/>
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Local Cases</h6>
                    <h2 class="text-right"><i class="fas fa-procedures f-left"></i><span>{{covid.data.local_total_cases}}</span></h2>
                                  
                </div>
            </div>
            <!-- <mat-card class="order-card  bg-c-blue">
                <mat-card-title>Total Local Cases</mat-card-title>
                <mat-card-subtitle>Total Local Cases</mat-card-subtitle>
                    <mat-card-content align='start'><i class="fas fa-procedures f-left"></i></mat-card-content>
                    <mat-card-actions align='end'>{{covid.data.local_total_cases}}</mat-card-actions>
            </mat-card> -->
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Local New Cases</h6>
                    <h2 class="text-right"><i class="fab fa-accessible-icon f-left"></i><span>{{covid.data.local_new_cases}}</span></h2>
                   
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Local Deaths</h6>
                    <h2 class="text-right"><i class="fas fa-skull-crossbones f-left"></i><span>{{covid.data.local_deaths}}</span></h2>
                  
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Local Recovered</h6>
                    <h2 class="text-right"><i class="fas fa-walking f-left"></i><span>{{covid.data.local_recovered}}</span></h2>
                    
                </div>
            </div>
        </div>
    </div>
    <br/>
    <h5 class="text-center">GLOBAL CASES</h5><br/>
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Global Cases</h6>
                    <h2 class="text-right"><i class="fas fa-procedures f-left"></i><span>{{covid.data.global_total_cases}}</span></h2>
                                      
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Global New Cases</h6>
                    <h2 class="text-right"><i class="fab fa-accessible-icon f-left"></i><span>{{covid.data.global_new_cases}}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Global Deaths</h6>
                    <h2 class="text-right"><i class="fas fa-skull-crossbones f-left"></i><span>{{covid.data.global_deaths}}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Global Recovered</h6>
                    <h2 class="text-right"><i class="fas fa-walking f-left"></i><span>{{covid.data.global_recovered}}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
    </div>
    
   
  
    <br/>
  
</div>





